# macOS system file
.DS_Store

# Common folders to ignore
/test/
/tests/
/docs/
/log/
/dump/
/vscode/
.git/
.idea/
.vscode/
.fleet/
.phpdoc

# Development files
UPDATE.md
CHANGES.md
composer.lock
command.phar
phpdoc.xml
phpDocumentor.phar
git.ssh
cli.help

# Ignore modules
/src/Command/Auth/
/src/Ftp/
/src/Cache/RedisCache.php
/src/Security/Throttler.php
/src/Attributes/Reflector.php
