.DS_Store
/test
/docs
/tests
/log
/dump
/.git
/src/Command/Auth/*
/src/Command/Auth
/src/Ftp/*
/src/Ftp
composer.lock
command.phar
phpdoc.xml
phpDocumentor.phar
git.ssh
cli.help
.phpdoc
.fleet
.idea
.vscode
