includes:
	- phpstan.includes.php

parameters:
	phpVersion: 80100
	tmpDir: builds/phpstan
	level: 6
	reportUnmatchedIgnoredErrors: true
	bootstrapFiles:
		- install/Boot/polyfills.php
		- install/Boot/constants.php
		- install/Boot/Funcs/functions.php
		- install/Boot/Funcs/arrays.php
		- install/Boot/Funcs/strings.php
		- vendor/autoload.php
	paths:
		- src
	excludePaths:
		- vendor/*
		- builds/*
		- dump/*
		- tests/*
	checkMissingIterableValueType: false
	checkGenericClassInNonGenericObjectType: false
	checkMissingCallableSignature: true
	treatPhpDocTypesAsCertain: false

services:
	- Luminova\Debugger\PHPStanRules