includes:
	- phpstan.includes.php

parameters:
	phpVersion: 80000
	tmpDir: builds/phpstan
	level: 6
	bootstrapFiles:
		- vendor/autoload.php
	paths:
		- src
	excludePaths:
		- vendor/*
		- builds/*
		- dump/*
		- tests/*
	checkMissingIterableValueType: false
	checkGenericClassInNonGenericObjectType: false
	checkMissingCallableSignature: true
	treatPhpDocTypesAsCertain: false

services:
	- Luminova\Debugger\PHPStanRules
