<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         backupGlobals="false"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTodoAnnotatedTests="true"
         cacheResultFile="builds/.phpunit.cache/test-results"
         colors="true"
         columns="max"
         failOnRisky="true"
         failOnWarning="true"
         verbose="true">

    <coverage cacheDirectory="builds/.phpunit.cache/code-coverage"
              processUncoveredFiles="true"
              ignoreDeprecatedCodeUnits="true">
        <include>
            <directory suffix=".php">src</directory>
        </include>
        <exclude>
            <directory>vendor</directory>
        </exclude>
        <report>
            <clover outputFile="builds/logs/clover.xml"/>
        </report>
    </coverage>

    <testsuites>
        <testsuite name="System">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <extensions>
        <extension class="Nexus\PHPUnit\Extension\Tachycardia">
            <arguments>
                <array>
                    <element key="timeLimit">
                        <double>0.50</double>
                    </element>
                    <element key="reportable">
                        <integer>30</integer>
                    </element>
                    <element key="precision">
                        <integer>2</integer>
                    </element>
                    <element key="tabulate">
                        <boolean>false</boolean>
                    </element>
                </array>
            </arguments>
        </extension>
    </extensions>

    <php>
        <const name="HOMEPATH" value="./"/>
        <env name="APP_ENV" value="dev"/>
    </php>
</phpunit>
